#error {
    color: red;
}

.visible {
    display: block
}

.hidden {
    display: none;
}

.app {
    padding: 10px;
}

.flex {
    display: flex;
}

.flex input {
    flex: 2;
    margin-right: 5px;
}

.flex button {
    flex: 1;
}